html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

body {
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style: none;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
}

strong {
  font-weight: normal;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

article {
  font-family: "PT Serif", serif;
  font-weight: lighter;
}

p:first-child {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
}

cite {
  font-size: .8rem;
  line-height: 5;
}

blockquote b {
  font-style: normal;
  font-weight: lighter;
}

ol {
  list-style-type: lower-greek;
  font-family: "PT Serif", serif;
}

h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
  background-color: inherit;
}

dl {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

dl data {
  font-weight: 100;
}

.stat::after {
  display: inline-block;
}

h2 + p {
  font-style: italic;
  font-family: "PT Serif", serif;
}

ul {
  font-family: "PT Serif", serif;
  list-style-type: circle;
}
